<div>
  <table>
    <tr>
      <td><label for="businessName">Business Name:</label></td>
      <td>
        <input id="businessName" [(ngModel)]="businessName" type="text" />
      </td>
    </tr>
    <tr>
      <td><label for="valuation">Valuation:</label></td>
      <td><input id="valuation" [(ngModel)]="valuation" type="number" /></td>
    </tr>
    <tr>
      <td><label for="rate">Rate:</label></td>
      <td><input id="rate" [(ngModel)]="rate" type="number" /></td>
    </tr>
    <tr>
      <td><label for="term">Term:</label></td>
      <td><input id="term" [(ngModel)]="term" type="number" /></td>
    </tr>
  </table>

  <h3>Shareholders</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Share Percentage</th>
      <th>Insurance Coverage</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let shareholder of shareholders; let i = index">
      <td>{{ shareholder.shareholderName }}</td>
      <td>{{ shareholder.sharePercentage }}</td>
      <td>{{ shareholder.insuranceCoverage }}</td>
      <td>
        <button (click)="deleteShareholder(i)">Delete</button>
      </td>
    </tr>
    <tr>
      <td><input #shareholderNameInput type="text" placeholder="Name" /></td>
      <td>
        <input #sharePercentageInput type="number" placeholder="Share %" />
      </td>
      <td>
        <input #insuranceCoverageInput type="number" placeholder="Coverage" />
      </td>
      <td>
        <button
          (click)="
            addShareholder(
              shareholderNameInput.value,
              sharePercentageInput.valueAsNumber,
              insuranceCoverageInput.valueAsNumber
            )
          "
        >
          Add Shareholder
        </button>
      </td>
    </tr>
  </table>
</div>
