<div>
  <table>
    <tr>
      <td><label for="businessName">Business Name:</label></td>
      <td>
        <input [(ngModel)]="businessName" id="businessName" type="text" placeholder="Widgets Ltd."/>
      </td>
    </tr>
    <tr>
      <td><label for="valuation">Valuation:</label></td>
      <td><input [(ngModel)]="valuation" id="valuation" type="number" /></td>
    </tr>
    <tr>
      <td><label for="rate">Rate:</label></td>
      <td><input [(ngModel)]="rate" id="rate" type="number" /></td>
    </tr>
    <tr>
      <td><label for="term">Term:</label></td>
      <td><input [(ngModel)]="term" id="term" type="number" /></td>
    </tr>
  </table>

  <h3>Shareholders</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Share Percentage</th>
      <th>Insurance Coverage</th>
      <th>Actions</th>
      <th>Share Value</th>
      <th>Liquidation Disparity</th>
    </tr>
    <tr *ngFor="let shareholder of shareholders; let i = index">
      <td>
        <input
          (ngModelChange)="onShareholderChange()"
          [(ngModel)]="shareholder.shareholderName"
          type="text"
        />
      </td>
      <td>
        <input
          (ngModelChange)="onShareholderChange()"
          [(ngModel)]="shareholder.sharePercentage"
          type="number"
        />
      </td>
      <td>
        <input
          (ngModelChange)="onShareholderChange()"
          [(ngModel)]="shareholder.insuranceCoverage"
          type="number"
        />
      </td>
      <td>
        <button (click)="deleteShareholder(i)">Delete</button>
      </td>
      <td>{{ shareholder.shareValue(valuation) | number: "1.2-2" }}</td>
      <td>
        {{ shareholder.liquidationDisparity(valuation) | number: "1.2-2" }}
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button (click)="addEmptyShareholder()">Add Shareholder</button>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>Total Shareholder Percentage Owned:</td>
      <td>{{ totalMajorShareholderPercentage | number: "1.2-2" }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Value:</td>
      <td>{{ totalMajorShareholderValue | number: "1.2-2" }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Insurance:</td>
      <td>{{ totalMajorShareholderInsurance | number: "1.2-2" }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Disparity:</td>
      <td>{{ totalMajorShareholderDisparity | number: "1.2-2" }}</td>
    </tr>
  </table>
</div>
