<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Philanthropic</th>
      <th></th>
    </tr>
    <tr *ngFor="let goal of goals; let i = index">
      <td><input [(ngModel)]="goal.goalName" type="text" /></td>
      <td><input [(ngModel)]="goal.dollarAmount" type="number" /></td>
      <td><input [(ngModel)]="goal.isPhilanthropic" type="checkbox" /></td>
      <td>
        <button (click)="deleteGoal(i)">Delete</button>
      </td>
    </tr>
    <tr>
      <td><input #goalNameInput type="text" placeholder="Goal Name" /></td>
      <td><input #goalAmountInput type="number" placeholder="Amount" /></td>
      <td>
        <input #goalIsPhilanthropicInput type="checkbox" />
      </td>
      <td>
        <button
          (click)="
            addGoal(
              goalNameInput.value,
              goalAmountInput.valueAsNumber,
              goalIsPhilanthropicInput.checked
            )
          "
        >
          Add
        </button>
      </td>
    </tr>
  </table>
</div>
