<div class="client-container">
  <table class="client-table">

    <!-- Client Information -->
    <tr>
      <td><label for="name">Name:</label></td>
      <td>
        <input
          id="name"
          [(ngModel)]="name"
          (ngModelChange)="updateClientData()"
          type="text"
          placeholder="John Doe"
        />
      </td>
    </tr>

    <!-- Birthdate -->
    <tr>
      <td><label for="birthdate">Birthdate:</label></td>
      <td>
        <input
          type="date"
          id="birthdate"
          [(ngModel)]="birthdateModel.birthdate"
          (ngModelChange)="updateBirthdateAndMultiplier($event)"
        />
      </td>
    </tr>

    <!-- Age -->
    <tr>
      <td>Age:</td>
      <td class="number">{{ birthdateModel.age }}</td>
    </tr>
    <tr>
      <td>
        <label for="expectedRetirementAge">Expected Retirement Age:</label>
      </td>
      <td>
        <input
          id="expectedRetirementAge"
          [(ngModel)]="expectedRetirementAge"
          (ngModelChange)="updateClientData()"
          type="number"
          min="0"
        />
      </td>
    </tr>

    <!-- Years of Active Income -->
    <tr>
      <td>Years of Active Income:</td>
      <td class="number">
        {{ Math.max(expectedRetirementAge - birthdateModel.age, 0) }}
      </td>
    </tr>

    <!-- Province -->
    <tr>
      <td><label for="province">Province:</label></td>
      <td>
        <select
          [(ngModel)]="province"
          (ngModelChange)="updateClientData()"
          id="province"
        >
          <option *ngFor="let prov of provinces" [ngValue]="prov">
            {{ prov }}
          </option>
        </select>
      </td>
    </tr>

    <!-- Annual Income -->
    <tr>
      <td><label for="annualIncome">Annual Income ($):</label></td>
      <td>
        <input
          id="annualIncome"
          [(ngModel)]="annualIncome"
          (ngModelChange)="updateClientData()"
          type="text"
          mask="separator.2"
          thousandSeparator=","
          prefix="$"
          placeholder="$123,456.78"
          style="text-align: right"
        />
      </td>
    </tr>

    <!-- Income Replacement Multiplier -->
    <tr>
      <td>
        <label for="incomeReplacementMultiplier"
          >Income Replacement Multiplier:</label
        >
      </td>
      <td>
        <input
          id="incomeReplacementMultiplier"
          [(ngModel)]="incomeReplacementMultiplier"
          (ngModelChange)="updateClientData()"
          type="number"
        />
      </td>
    </tr>

    <!-- Amount Insured for Income -->
    <tr>
      <td>Amount Insured for Income ($):</td>
      <td class="number">
        {{ insuredIncomeAmount | currency }}
      </td>
    </tr>

    <!-- Tax Bracket -->
    <tr>
      <td><label for="taxBracket">Tax Bracket:</label></td>
      <td>
        <select
          id="taxBracket"
          [(ngModel)]="selectedBracket"
          (ngModelChange)="saveSelectedBracket()"
        >
          <option
            *ngFor="let bracket of taxBrackets; let i = index"
            [ngValue]="bracket"
          >
            {{ bracket.minIncome | currency }} and up - {{ bracket.taxRate }}%
          </option>
        </select>
      </td>
    </tr>
  </table>
</div>
