<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Amount ($)</th>
      <th>Philanthropic</th>
      <th></th>
    </tr>
    <tr *ngFor="let goal of goals; let i = index">
      <td>
        <input
          [(ngModel)]="goal.goalName"
          (ngModelChange)="onGoalChange()"
          type="text"
          placeholder="Red Cross"
        />
      </td>
      <td>
        <input
          [(ngModel)]="goal.dollarAmount"
          (ngModelChange)="onGoalChange()"
          type="text"
          mask="separator.2"
          thousandSeparator=","
          prefix="$"
          placeholder="123,456.78"
          style="text-align: right"
        />
      </td>
      <td>
        <input
          [(ngModel)]="goal.isPhilanthropic"
          (ngModelChange)="onGoalChange()"
          type="checkbox"
        />
      </td>
      <td>
        <button (click)="deleteGoal(i)">Delete</button>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button (click)="addEmptyGoal()">Add New Goal</button>
      </td>
    </tr>
  </table>
</div>
