<div>
  <table>
    <!-- Table headings -->
    <tr>
      <th>Name</th>
      <th>Amount ($)</th>
      <th>Philanthropic</th>
      <th></th>
    </tr>

    <!-- Loop through goals -->
    <tr *ngFor="let goal of goals; let i = index">
      <td>
        <input
          [(ngModel)]="goal.goalName"
          (ngModelChange)="onGoalChange()"
          type="text"
          placeholder="Red Cross"
        />
      </td>

      <!-- Goal Amount -->
      <td>
        <input
          [(ngModel)]="goal.dollarAmount"
          (ngModelChange)="onGoalChange()"
          type="text"
          mask="separator.2"
          thousandSeparator=","
          prefix="$"
          placeholder="$123,456.78"
          style="text-align: right"
        />
      </td>

      <!-- Philanthropic -->
      <td>
        <input
          [(ngModel)]="goal.isPhilanthropic"
          (ngModelChange)="onGoalChange()"
          type="checkbox"
        />
      </td>

      <!-- Delete Goal -->
      <td>
        <button (click)="deleteGoal(i)">Delete</button>
      </td>
    </tr>

    <!-- Add New Goal -->
    <tr>
      <td colspan="4">
        <button (click)="addEmptyGoal()">Add New Goal</button>
      </td>
    </tr>
  </table>

  <div>
    <label for="percent-liquidity">% Liquidity Allocated to Goals:</label>
    <input
      type="number"
      [(ngModel)]="percentLiquidityToGoals"
      (ngModelChange)="onPercentLiquidityChange()"
      id="percent-liquidity"
      min="0"
      max="100"
    />
  </div>
</div>
