<div>
  <table>
    <!-- Client Information -->
    <tr>
      <td><label for="name">Name:</label></td>
      <td>
        <input
          (ngModelChange)="updateClientData()"
          [(ngModel)]="name"
          id="name"
          type="text"
        />
      </td>
    </tr>

    <!-- Birthdate Component Integration -->
    <tr>
      <td><label for="birthdate">Birthdate:</label></td>
      <td>
        <input
          (ngModelChange)="updateBirthdateAndMultiplier($event)"
          [(ngModel)]="birthdateModel.birthdate"
          id="birthdate"
          type="date"
        />
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ birthdateModel.age }}</td>
    </tr>
    <tr>
      <td>Years to retirement</td>
      <td>{{ birthdateModel.yearsToRetirement }}</td>
    </tr>

    <tr>
      <td><label for="province">Province:</label></td>
      <td>
        <select
          (ngModelChange)="updateClientData()"
          [(ngModel)]="province"
          id="province"
        >
          <option *ngFor="let prov of provinces" [ngValue]="prov">
            {{ prov }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="annualIncome">Annual Income:</label></td>
      <td>
        <input
          (ngModelChange)="updateClientData()"
          [(ngModel)]="annualIncome"
          id="annualIncome"
          type="number"
        />
      </td>
    </tr>
    <tr>
      <td>
        <label for="incomeReplacementMultiplier"
          >Income Replacement Multiplier:</label
        >
      </td>
      <td>
        <input
          (ngModelChange)="updateClientData()"
          [(ngModel)]="incomeReplacementMultiplier"
          id="incomeReplacementMultiplier"
          type="number"
        />
      </td>
    </tr>
    <tr>
      <td><label for="taxBracket">Tax Bracket:</label></td>
      <td>
        <select
          (ngModelChange)="saveSelectedBracket()"
          [(ngModel)]="selectedBracket"
          id="taxBracket"
        >
          <option
            *ngFor="let bracket of taxBrackets; let i = index"
            [ngValue]="bracket"
          >
            ${{ bracket.minIncome }} and up - {{ bracket.taxRate }}%
          </option>
        </select>
      </td>
    </tr>
  </table>
</div>
