<div>
    <input #nameInput type="text" placeholder="Name">
    <input #allocationInput type="number" placeholder="Ideal Allocation">
    <button (click)="addBeneficiary(nameInput.value, allocationInput.valueAsNumber)">Add Beneficiary</button>

    <ul>
        <li *ngFor="let beneficiary of beneficiaries; let i = index">
            {{ beneficiary.name }} - {{ beneficiary.idealAllocation }}%
            <button (click)="deleteBeneficiary(i)">Delete</button>
        </li>
    </ul>

    <p>Total Allocation: <strong>{{ totalAllocation }}</strong>%</p>
</div>
