<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Allocation</th>
      <th></th>
    </tr>
    <tr *ngFor="let beneficiary of beneficiaries; let i = index">
      <td>
        <input [(ngModel)]="beneficiary.name" (ngModelChange)="onBeneficiaryChange()" type="text" />
      </td>
      <td>
        <input [(ngModel)]="beneficiary.allocation" (ngModelChange)="onBeneficiaryChange()" type="number" />
      </td>
      <td>
        <button (click)="deleteBeneficiary(i)">Delete</button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button (click)="addBeneficiary()">Add New Beneficiary</button>
      </td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ totalAllocation }}</td>
    </tr>
  </table>
</div>
