<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Valuation ($)</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let business of businesses; let i = index">
      <td>{{ business.businessName }}</td>
      <td>{{ business.valuation | currency }}</td>
      <td>
        <button [class.active]="isEditing(i)" (click)="editBusiness(i)">
          Edit
        </button>
      </td>
      <td><button (click)="deleteBusiness(i)">Delete</button></td>
    </tr>
  </table>

  <button (click)="addNewBusiness()">Add New Business</button>

  <div *ngIf="editingBusiness">
    <app-business
      [business]="editingBusiness"
      (save)="saveBusiness($event)"
      (cancel)="onCancelEditing()"
    ></app-business>
  </div>
</div>
