<div>
  <div>
    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="type" (change)="onTypeChange(type)">
      <option *ngFor="let type of financialInstrumentTypes" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>

  <div>
    <label for="financialInstrumentName">Financial Instrument Name:</label>
    <input
      id="financialInstrumentName"
      [(ngModel)]="financialInstrumentName"
      type="text"
    />
  </div>
  <div>
    <label for="purchasePrice">Purchase Price:</label>
    <input id="purchasePrice" [(ngModel)]="purchasePrice" type="number" />
  </div>
  <div>
    <label for="yearAcquired">Year Acquired:</label>
    <input id="yearAcquired" [(ngModel)]="yearAcquired" type="number" />
  </div>
  <div>
    <label for="currentValue">Current Value:</label>
    <input id="currentValue" [(ngModel)]="currentValue" type="number" />
  </div>
  <div>
    <label for="annualContribution">Annual Contribution:</label>
    <input
      id="annualContribution"
      [(ngModel)]="annualContribution"
      type="number"
    />
  </div>
  <div>
    <label for="rate">Rate:</label>
    <input id="rate" [(ngModel)]="rate" type="number" />
  </div>
  <div>
    <label for="term">Term:</label>
    <input id="term" [(ngModel)]="term" type="number" />
  </div>
  <div>
    <label for="isTaxable">Taxable:</label>
    <input id="isTaxable" [(ngModel)]="isTaxable" type="checkbox" />
  </div>
  <div>
    <label for="isLiquid">Liquid:</label>
    <input id="isLiquid" [(ngModel)]="isLiquid" type="checkbox" />
  </div>
  <div>
    <label for="isToBeSettled">To Be Settled:</label>
    <input id="isToBeSettled" [(ngModel)]="isToBeSettled" type="checkbox" />
  </div>

  <div>
    <label for="inputYear">Value at year:</label>
    <input id="inputYear" [(ngModel)]="inputYear" type="number" />
    Value: ${{ getValueAtInputYear | number: "1.0-2" }}
  </div>

  <!-- Button to Load Beneficiaries -->
  <button (click)="loadBeneficiaries()">Add Beneficiaries</button>

  <!-- Table for Beneficiaries -->
  <table *ngIf="beneficiaries.length > 0">
    <tr>
      <th>Name</th>
      <th>Allocation (%)</th>
    </tr>
    <tr *ngFor="let beneficiary of beneficiaries; let i = index">
      <td>{{ beneficiary.name }}</td>
      <td>
        <input
          type="number"
          [(ngModel)]="beneficiary.idealAllocation"
          (ngModelChange)="updateAllocation(i, beneficiary.idealAllocation)"
        />
      </td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ totalAllocations }}</td>
    </tr>
  </table>

  <ul>
    <li>
      Current years held: <strong>{{ currentYearsHeld }}</strong> years
    </li>
    <li>
      Current growth dollars: $<strong>{{
        currentGrowthDollars | number: "1.0-2"
      }}</strong>
    </li>
    <li>
      Current growth percentage:
      <strong>{{ currentGrowthPercentage | number: "1.0-2" }}</strong
      >%
    </li>
    <li>
      Future value dollars: $<strong>{{
        futureValueDollars | number: "1.0-2"
      }}</strong>
    </li>
    <li>
      Future value growth percentage:
      <strong> {{ futureValueGrowthPercentage | number: "1.0-2" }} </strong>%
    </li>
    <li>
      Current tax liability dollars: $
      <strong>
        {{ currentTaxLiabilityDollars | number: "1.0-2" }}
      </strong>
    </li>
    <li>
      Future tax liability dollars: $<strong>{{
        futureTaxLiabilityDollars | number: "1.0-2"
      }}</strong>
    </li>
  </ul>
</div>
