<div class="app-container">
  <!-- Save app state -->
  <button (click)="clearAllLocalStorage()">Clear All Data</button>
  <button (click)="downloadLocalStorageAsFile()">Save Client</button>
  <input type="file" (change)="loadLocalStorageFromFile($event)" />
  <br />

  <!-- Input Navigation -->
  <mat-button-toggle-group
    name="inputNav"
    aria-label="Input Navigation"
    [(ngModel)]="selectedInputComponent"
  >
    <mat-button-toggle *ngFor="let link of inputLinks" [value]="link.component">
      {{ link.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Output Navigation -->
  <mat-button-toggle-group
    name="outputNav"
    aria-label="Output Navigation"
    [(ngModel)]="selectedOutputComponent"
  >
    <mat-button-toggle
      *ngFor="let link of outputLinks"
      [value]="link.component"
    >
      {{ link.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Conditionally Render Selected Components -->
  <div *ngIf="selectedInputComponent">
    <ng-container *ngComponentOutlet="selectedInputComponent"></ng-container>
  </div>
  <div *ngIf="selectedOutputComponent">
    <ng-container *ngComponentOutlet="selectedOutputComponent"></ng-container>
  </div>
</div>
