<router-outlet></router-outlet>
<button (click)="clearAllLocalStorage()">Clear All</button>
<button (click)="downloadLocalStorageAsFile()">Download</button>
<input type="file" (change)="loadLocalStorageFromFile($event)" />
<br />

<ul>
  <li routerLink="/client" routerLinkActive="active">Client</li>
  <li routerLink="/beneficiaries" routerLinkActive="active">Beneficiaries</li>
  <li routerLink="/financial-instrument" routerLinkActive="active">
    Financial Instrument
  </li>
  <li routerLink="/business" routerLinkActive="active">Business</li>
  <li routerLink="/goal" routerLinkActive="active">Goal</li>
  <li routerLink="/asset" routerLinkActive="active">Asset</li>
</ul>
<router-outlet></router-outlet>
