<div class="total-insurable-needs">
  <table>
    <thead>
      <tr>
        <th>Liability Name</th>
        <th>Insurable Need</th>
        <th>Priority</th>
        <th>Coverage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Estate Tax Liability</td>
        <td>{{ estateTaxLiability | currency }}</td>
        <td>
          <input
            type="range"
            min="0"
            max="100"
            [(ngModel)]="percentageAllocation"
            (change)="onPercentageChange()"
          />
        </td>
        <td>{{ desiredInsuranceCoverage | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
