<table>
  <tr>
    <th>Label</th>
    <th>Value</th>
    <th>Priority</th>
  </tr>
  <tr *ngFor="let item of formattedData">
    <td>
      {{ item.category }}
      {{ item.subCategory ? " > " + item.subCategory : "" }}
      {{ item.name ? " > " + item.name : "" }}
    </td>
    <td *ngIf="item.value !== undefined">{{ item.value | currency }}</td>
    <td *ngIf="item.priority !== undefined">
      <input
        type="range"
        [(ngModel)]="item.priority"
        (change)="updateItemPriority(item)"
        min="0"
        max="100"
      />
      {{ item.priority }}%
    </td>
  </tr>
</table>
