<!-- total-insurable-needs.component.html -->
<table>
  <tr>
    <th>Label</th>
    <th>Value</th>
    <th>Priority</th>
  </tr>
  <tr *ngFor="let row of displayData">
    <td [style.paddingLeft.px]="row.level * 20">{{ row.label }}</td>
    <td class="number" *ngIf="row.value !== undefined">
      {{ row.value | currency }}
    </td>
    <td *ngIf="row.value === undefined">&mdash;</td>
    <td *ngIf="row.priority !== undefined">
      <input
        type="range"
        [(ngModel)]="row.priority"
        (change)="updateItemPriority(row)"
        min="0"
        max="100"
      />
      {{ row.priority }}%
    </td>
  </tr>
</table>
