<div>
  <table>
    <tr>
      <td><label for="businessName">Business Name:</label></td>
      <td>
        <input
          id="businessName"
          [(ngModel)]="businessName"
          type="text"
          placeholder="Widgets Co."
        />
      </td>
    </tr>
    <tr>
      <td><label for="valuation">Valuation ($):</label></td>
      <td>
        <input
          id="valuation"
          [(ngModel)]="valuation"
          type="text"
          mask="separator.2"
          thousandSeparator=","
          prefix="$"
          placeholder="123,456.78"
          style="text-align: right"
        />
      </td>
    </tr>
    <tr>
      <td><label for="ebita">EBITA ($):</label></td>
      <td><input id="ebita" [(ngModel)]="ebita" type="number" /></td>
    </tr>
    <tr>
      <td><label for="rate">Appreciation Rate (%):</label></td>
      <td><input id="rate" [(ngModel)]="rate" type="number" /></td>
    </tr>
    <tr>
      <td><label for="term">Term (years):</label></td>
      <td><input id="term" [(ngModel)]="term" type="number" /></td>
    </tr>
  </table>

  <h3>Shareholders</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Share Percentage (%)</th>
      <th>Insurance Coverage ($)</th>
      <th>Actions</th>
      <th>Share Value ($)</th>
      <th>Liquidation Disparity ($)</th>
    </tr>
    <tr *ngFor="let shareholder of shareholders; let i = index">
      <td>
        <input [(ngModel)]="shareholder.shareholderName" type="text" />
      </td>
      <td>
        <input [(ngModel)]="shareholder.sharePercentage" type="number" />
      </td>
      <td>
        <input
          [(ngModel)]="shareholder.insuranceCoverage"
          type="text"
          mask="separator.2"
          thousandSeparator=","
          prefix="$"
          placeholder="123,456.78"
          style="text-align: right"
        />
      </td>
      <td>
        <button (click)="deleteShareholder(i)">Delete</button>
      </td>
      <td class="number">{{ shareholder.shareValue(valuation) | currency }}</td>
      <td class="number">
        {{ shareholder.liquidationDisparity(valuation) | currency }}
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button (click)="addEmptyShareholder()">Add Shareholder</button>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>Total Shareholder Percentage Owned (%):</td>
      <td class="number">{{ totalMajorShareholderPercentage | currency }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Value ($):</td>
      <td class="number">{{ totalMajorShareholderValue | currency }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Insurance ($):</td>
      <td class="number">{{ totalMajorShareholderInsurance | currency }}</td>
    </tr>
    <tr>
      <td>Total Major Shareholder Disparity ($):</td>
      <td class="number">{{ totalMajorShareholderDisparity | currency }}</td>
    </tr>
  </table>
  <button class="active" (click)="onSave()">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>
