<table>
  <!-- Capital Gains Tax Rate -->
  <tr>
    <td><label for="taxBracket">Tax Bracket:</label></td>
    <td>
      <select
        id="taxBracket"
        [(ngModel)]="selectedTaxBracket"
        (ngModelChange)="updateSelectedTaxBracket()"
      >
        <option *ngFor="let bracket of taxBrackets" [ngValue]="bracket">
          {{ bracket.minIncome | currency }} and up - {{ bracket.taxRate * 0.5 }}%
        </option>
      </select>
    </td>
  </tr>

  <!-- Type -->
  <tr>
    <td><label for="type">Type:</label></td>
    <td>
      <select id="type" [(ngModel)]="type" (change)="onTypeChange(type)">
        <option *ngFor="let type of financialInstrumentTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </td>
  </tr>

  <!-- Name -->
  <tr>
    <td>
      <label for="financialInstrumentName">Asset Name:</label>
    </td>
    <td>
      <input
        id="financialInstrumentName"
        [(ngModel)]="name"
        type="text"
        placeholder="AAPL Stocks"
      />
    </td>
  </tr>

  <!-- Year Acquired -->
  <tr>
    <td><label for="yearAcquired">Year Acquired:</label></td>
    <td>
      <input id="yearAcquired" [(ngModel)]="yearAcquired" type="number" />
    </td>
  </tr>

  <!-- Initial Value -->
  <tr>
    <td><label for="initialValue">Initial Value ($):</label></td>
    <td>
      <input id="initialValue" [(ngModel)]="initialValue" type="number" />
    </td>
  </tr>

  <!-- Current Value -->
  <tr>
    <td><label for="currentValue">Current Value ($):</label></td>
    <td>
      <input id="currentValue" [(ngModel)]="currentValue" type="number" />
    </td>
  </tr>

  <!-- Rate -->
  <tr>
    <td><label for="rate">Appreciation Rate (%):</label></td>
    <td><input id="rate" [(ngModel)]="rate" type="number" /></td>
  </tr>

  <!-- Term -->
  <tr>
    <td><label for="term">Term (years):</label></td>
    <td><input id="term" [(ngModel)]="term" type="number" /></td>
  </tr>

  <!-- Additional Attributes -->
  <tr>
    <td><label for="isTaxable">Taxable:</label></td>
    <td><input id="isTaxable" [(ngModel)]="isTaxable" type="checkbox" /></td>
  </tr>
  <tr>
    <td><label for="isLiquid">Liquid:</label></td>
    <td><input id="isLiquid" [(ngModel)]="isLiquid" type="checkbox" /></td>
  </tr>
  <tr>
    <td><label for="isToBeSold">To Be Sold:</label></td>
    <td>
      <input id="isToBeSold" [(ngModel)]="isToBeSold" type="checkbox" />
    </td>
  </tr>

  <!-- Button to Load Beneficiaries -->
  <tr>
    <td colspan="2">
      <button (click)="loadBeneficiaries()">Add Beneficiaries</button>
      <button (click)="clearBeneficiaries()">Clear All Beneficiaries</button>
    </td>
  </tr>

  <!-- Beneficiaries Table -->
  <ng-container *ngIf="beneficiaries.length > 0">
    <tr *ngFor="let beneficiary of beneficiaries; let i = index">
      <td><input type="text" [(ngModel)]="beneficiary.name" /></td>
      <td>
        <input
          type="number"
          [(ngModel)]="beneficiary.allocation"
          (ngModelChange)="updateAllocation(i, beneficiary.allocation)"
        />
      </td>
      <td>
        <button (click)="deleteBeneficiary(i)">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Total Allocation (%)</td>
      <td>{{ totalAllocations }}</td>
    </tr>
  </ng-container>

  <!-- Display Calculated Values -->
  <tr>
    <td>Current Years Held:</td>
    <td>{{ currentYearsHeld }}</td>
  </tr>
  <tr>
    <td>Current Growth Dollars ($):</td>
    <td>{{ currentGrowthDollars | currency }}</td>
  </tr>
  <tr>
    <td>Current Growth Percentage (%):</td>
    <td>{{ currentGrowthPercentage | number: "1.0-2" }}%</td>
  </tr>
  <tr>
    <td>Future Value Dollars ($):</td>
    <td>{{ futureValueDollars | currency }}</td>
  </tr>
  <tr>
    <td>Future Value Growth Percentage (%):</td>
    <td>{{ futureValueGrowthPercentage | number: "1.0-2" }}%</td>
  </tr>

  <!-- Display Calculated Values -->
  <tr>
    <td>Current Tax Liability ($):</td>
    <td>{{ currentTaxLiabilityDollars | currency }}</td>
  </tr>
  <tr>
    <td>Future Tax Liability ($):</td>
    <td>{{ futureTaxLiabilityDollars | currency }}</td>
  </tr>
</table>
<button (click)="onSave()">Save</button>
<button (click)="onCancel()">Cancel</button>
