<table>
  <!-- Debt Name -->
  <tr>
    <td><label for="debtName">Debt Name:</label></td>
    <td>
      <input
        id="debtName"
        [(ngModel)]="name"
        type="text"
        placeholder="Bank Loan"
      />
    </td>
  </tr>

  <!-- Initial Value -->
  <tr>
    <td><label for="initialValue">Initial Value ($):</label></td>
    <td>
      <input id="initialValue" [(ngModel)]="initialValue" type="number" />
    </td>
  </tr>

  <!-- Year Acquired -->
  <tr>
    <td><label for="yearAcquired">Year Acquired:</label></td>
    <td>
      <input id="yearAcquired" [(ngModel)]="yearAcquired" type="number" />
    </td>
  </tr>

  <!-- Rate -->
  <tr>
    <td><label for="rate">Interest Rate (%):</label></td>
    <td><input id="rate" [(ngModel)]="rate" type="number" /></td>
  </tr>

  <!-- Term -->
  <tr>
    <td><label for="term">Term (years):</label></td>
    <td><input id="term" [(ngModel)]="term" type="number" /></td>
  </tr>

  <!-- Annual Payment -->
  <tr>
    <td><label for="annualPayment">Annual Payment ($):</label></td>
    <td>
      <input id="annualPayment" [(ngModel)]="annualPayment" type="number" />
    </td>
  </tr>

  <!-- Display Calculated Values -->
  <tr>
    <td>Current Years Held:</td>
    <td>{{ currentYearsHeld }}</td>
  </tr>

  <!-- Calculated Values -->
  <tr>
    <td>Amount Paid Off ($):</td>
    <td>{{ amountPaidOffDollars | currency }}</td>
  </tr>
  <tr>
    <td>Current Value of Debt ($):</td>
    <td>{{ currentValueOfDebtDollars | currency }}</td>
  </tr>
  <tr>
    <td>Debt Remaining ($):</td>
    <td>{{ debtRemainingDollars | currency }}</td>
  </tr>
  <tr>
    <td>Years to be Paid Off:</td>
    <td>{{ yearsToBePaidOff | number: "1.0-2" }}</td>
  </tr>
  <tr>
    <td>Insurable Future Value ($):</td>
    <td>{{ insurableFutureValueDollars | currency }}</td>
  </tr>
</table>
<button class="active" (click)="onSave()">Save</button>
<button (click)="onCancel()">Cancel</button>
