/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100%;
}

/* Styles for screens wider than 600px */
@media (min-width: 600px) {
  .content {
    max-width: 600px;
    margin: auto;
  }
}

@media only screen {
  .app-container {
    max-width: 780px;
    margin: 0 auto;
  }
}

.active {
  color: white;
  background-color: #007bff;
}

input {
  width: 120px;
}

/* Right aligns number inputs */
input[type="number"] {
  text-align: right;
}

.number {
  text-align: right;
}

/* Hide spinners for WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Container to hold pie charts */
.pie-chart-container {
  display: flex;                  /* Enable flexbox */
  justify-content: space-around;  /* Distribute space between charts */
  align-items: center;            /* Align charts vertically */
}

/* Style for each chart */
.chart {
  flex: 1;  /* Each chart takes equal width */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
