/*!** import tailwind **!*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css';*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.js';*/

/*!** import bootstrap **!*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css';*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js';*/

/*!** import materialize **!*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js';*/

/* Base styles */
.content {
  width: 100%;
}

/* Styles for screens wider than 600px */
@media (min-width: 600px) {
  .content {
    max-width: 600px;
    margin: auto;
  }
}

@media only screen {
  .app-container {
    max-width: 780px;
    margin: 0 auto;
  }
}

.active {
  color: white;
  background-color: #007bff;
}

input {
  width: 120px;
}

/* Right aligns number inputs */
input[type="number"] {
  text-align: right;
}

/* Hide spinners for WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Container to hold pie charts */
.pie-chart-container {
  display: flex;                  /* Enable flexbox */
  justify-content: space-around;  /* Distribute space between charts */
  align-items: center;            /* Align charts vertically */
}

/* Style for each chart */
.chart {
  flex: 1;  /* Each chart takes equal width */
}
