<!-- Container for the pie charts -->
<div class="pie-chart-container">
  <!-- First Pie Chart -->
  <div class="chart">
    <apx-chart
      [series]="beneficiaryValuePieChartOptions.series"
      [chart]="beneficiaryValuePieChartOptions.chart"
      [labels]="beneficiaryValuePieChartOptions.labels"
      [dataLabels]="beneficiaryValuePieChartOptions.dataLabels"
      [title]="beneficiaryValuePieChartOptions.title"
      [legend]="beneficiaryValuePieChartOptions.legend"
    >
    </apx-chart>
  </div>

  <!-- Second Pie Chart -->
  <div class="chart">
    <apx-chart
      [series]="beneficiaryPercentageChartOptions.series"
      [chart]="beneficiaryPercentageChartOptions.chart"
      [labels]="beneficiaryPercentageChartOptions.labels"
      [dataLabels]="beneficiaryPercentageChartOptions.dataLabels"
      [title]="beneficiaryPercentageChartOptions.title"
      [legend]="beneficiaryPercentageChartOptions.legend"
    >
    </apx-chart>
  </div>
</div>

<div>
  <apx-chart
    [series]="valueChartOptions.series"
    [chart]="valueChartOptions.chart"
    [xaxis]="valueChartOptions.xaxis"
    [yaxis]="valueChartOptions.yaxis"
    [dataLabels]="valueChartOptions.dataLabels"
    [plotOptions]="valueChartOptions.plotOptions"
    [title]="valueChartOptions.title"
    [legend]="valueChartOptions.legend"
  >
  </apx-chart>
</div>

<div>
  <apx-chart
    [series]="percentageChartOptions.series"
    [chart]="percentageChartOptions.chart"
    [xaxis]="percentageChartOptions.xaxis"
    [yaxis]="percentageChartOptions.yaxis"
    [dataLabels]="percentageChartOptions.dataLabels"
    [plotOptions]="percentageChartOptions.plotOptions"
    [title]="percentageChartOptions.title"
    [legend]="percentageChartOptions.legend"
  >
  </apx-chart>
</div>
