<table>
  <!-- Debt Name -->
  <tr>
    <td><label for="debtName">Debt Name:</label></td>
    <td><input [(ngModel)]="name" id="debtName" type="text" placeholder="Bank Loan"/></td>
  </tr>

  <!-- Initial Value -->
  <tr>
    <td><label for="initialValue">PrincipalValue ($):</label></td>
    <td>
      <input [(ngModel)]="initialValue" id="initialValue" type="number" />
    </td>
  </tr>

  <!-- Year Acquired -->
  <tr>
    <td><label for="yearAcquired">Year Acquired:</label></td>
    <td>
      <input [(ngModel)]="yearAcquired" id="yearAcquired" type="number" />
    </td>
  </tr>

  <!-- Rate -->
  <tr>
    <td><label for="rate">Interest Rate (%):</label></td>
    <td><input [(ngModel)]="rate" id="rate" type="number" /></td>
  </tr>

  <!-- Term -->
  <tr>
    <td><label for="term">Term (years):</label></td>
    <td><input [(ngModel)]="term" id="term" type="number" /></td>
  </tr>

  <!-- Annual Payment -->
  <tr>
    <td><label for="annualPayment">Annual Payment ($):</label></td>
    <td>
      <input [(ngModel)]="annualPayment" id="annualPayment" type="number" />
    </td>
  </tr>

  <!-- Display Calculated Values -->
  <tr>
    <td>Current Years Held:</td>
    <td>{{ currentYearsHeld }}</td>
  </tr>

  <!-- Calculated Values -->
  <tr>
    <td>Amount Paid Off ($):</td>
    <td>{{ amountPaidOffDollars | currency }}</td>
  </tr>
  <tr>
    <td>Current Value of Debt ($):</td>
    <td>{{ currentValueOfDebtDollars | currency }}</td>
  </tr>
  <tr>
    <td>Debt Remaining ($):</td>
    <td>{{ debtRemainingDollars | currency }}</td>
  </tr>
  <tr>
    <td>Years to be Paid Off:</td>
    <td>{{ yearsToBePaidOff | number: "1.0-2" }}</td>
  </tr>
  <tr>
    <td>Insurable Future Value ($):</td>
    <td>{{ insurableFutureValueDollars | currency }}</td>
  </tr>
</table>
