<div>
  <table>
    <!-- Table headings -->
    <tr>
      <th>Name</th>
      <th>Current Value ($)</th>
      <th>Future Tax Liability ($)</th>
      <th></th>
      <th></th>
    </tr>
    <!-- Loop through assets -->
    <tr *ngFor="let asset of assets; let i = index">
      <td>{{ asset.name }}</td>
      <td class="number">{{ asset.currentValue | currency }}</td>
      <td class="number">{{ asset.futureTaxLiabilityDollars | currency }}</td>
      <td>
        <button [class.active]="isEditing(i)" (click)="editAsset(i)">
          Edit
        </button>
      </td>
      <td><button (click)="deleteAsset(i)">Delete</button></td>
    </tr>

    <tr>
      <td>Total</td>
      <td class="number">{{ totalCurrentValue | currency }}</td>
      <td class="number">{{ totalFutureTaxLiability | currency }}</td>
      <td colspan="2"></td>
    </tr>
  </table>

  <button (click)="addNewAsset()">Add New Asset</button>

  <!-- Asset editing UI -->
  <div *ngIf="editingState.asset">
    <app-asset
      [asset]="editingState.asset"
      (save)="saveAsset($event)"
      (cancel)="onCancelEditing()"
    ></app-asset>
  </div>

  <div *ngIf="distributions">
    <h3>Total Future Value Distributions</h3>
    <table>
      <tr>
        <th>Beneficiary</th>
        <th>Amount ($)</th>
        <th>Percentage (%)</th>
      </tr>
      <tr *ngFor="let name of Object.keys(distributions)">
        <td>{{ name }}</td>
        <td class="number">{{ distributions[name] | currency }}</td>
        <td class="number">
          {{
            (distributions[name] / totalFutureValue) * 100 | number: "1.0-2"
          }}%
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td class="number">{{ totalFutureValue | currency }}</td>
        <td class="number">100.00%</td>
      </tr>
    </table>
  </div>
</div>
